*{ 
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Anteriormente organicé este archivo css utilizando flexbox y box model, por lo tanto debo reiniciar prácticamente todo este archivo para intercambiar gran parte del flexbox por grid. Aprovechandome de eso, voy a usar iniciar de nuevo utilizando el método mobile first. Es decir, voy a diseñar la página como si primero la hubiese creado para mobile y poco a poco adaptarla a pantallas más grandes*/

html{
    font-size: 16px; /*la unidad rem es relativa a esta cantidad de pixeles, que por defecto suele ser 16*/
}

/*Formato mobile*/
@media screen and (min-width: 320px){
    body{
        background-color: rgb(47, 90, 124);    
        display: flex; /*el body es un contenedor compuesto por el header, main y footer*/
        flex-direction: column; /*los elementos hijos se organizarán en una sola columna*/
    } 
    
    header{
        padding: 5px 0px;
        margin-bottom: 10px;
        background-color: rgb(70, 130, 180);
        display: grid; 
        grid-template-areas:
        "arriba nav"; /*quiero que el header sea una fila con dos columnas (para formato PC esto va a cambiar)*/
        grid-template-rows: 1fr;
        grid-template-columns: 9fr 1fr;
        justify-items: center;
        align-items: center;
    }
    
    .arriba{
        grid-area: arriba;
        display: grid; /*".arriba" es una grilla compuesta por el logo, el título y la barra de buscador*/
        grid-template-areas:  
        "logo titulo barra"; 
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 10fr;
        justify-items: center;
        align-items: center;
    }

    .logo{
        grid-area: logo;
    }

    .logo img{
        height: 1.1rem;
    }

    .titulo{
        grid-area: titulo;
        font-size: 1.1rem;
    }

    .barraBuscador{
        display: none; /*quito una de las barras de buscador, ya que esta sólo será utilizada en formato PC*/
    }

    .barraBuscadorMovil{
        margin-left: 10%;
        font-size: 1.1rem;
        width: 90%
    }

    .botonBuscador{
        display: none; /*quito el botón ya que que sólo lo quiero usar en PC*/
    }

    .arriba form {
        grid-area: barra;
        width: 100%;
    }
    
    nav{
        grid-area: nav;
    }

    nav figure img{
        position: relative;
        top: 2px; /*ajusto la altura de la imagen para que esté centrada*/
        height: 1.5rem;
    }
    
    nav ul{
        display: none; /*quito la lista que forma la barra de navegación. Para la siguiente entrega la volveré a colocar, apareciendo gracias a una animación*/
    }

    main{
        padding: 0% 1%; 
        display: grid;
        grid-template-areas:  
        "seccionPrincipal"
        "aside";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr; /*quiero que el main sea una columna con una fila (para formato PC esto va a cambiar)*/
    }

    .seccionPrincipal{
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 2px dashed black;
    }

    h1, h2, h3, h4{
        text-align: center;
    }

    .articuloNuevo{/*este estilo de diseño lo uso como modelo para diseñar cajas en todas las páginas*/
        padding: 2%;
        margin-top: 1rem;
        display: grid;
        grid-template-areas:  
        "tituloArticulo     imagen"
        "subtituloArticulo  imagen";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 2fr 1fr;
        justify-items: center;
        align-items: center;
        background-color: lightgrey;
        border: 3px solid black;
        border-radius: 10px;
    }

    .articuloNuevo h2{
        grid-area: tituloArticulo;
        font-size: 0.86rem;
    }

    .articuloNuevo h2 a{
        text-decoration: none;
        color: black;
    }

    .articuloNuevo h3{
        grid-area: subtituloArticulo;
        font-size: 0.86rem;
    }

    .articuloNuevo figure{
        grid-area: imagen;
    }
    
    .articuloNuevo figure img{
        width: 100%;
    }

    .seccionPrincipal div p{
        margin-top: 10px;
        text-align: justify;
        font-weight: bold;
    }

    .linksRecomendaciones{ /*similar a las propiedades de articuloNuevo*/
        padding: 2%;
        margin-top: 1rem;
        display: grid;
        grid-template-rows: 1fr 3fr;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        background-color: lightgrey;
        border: 3px solid black;
        border-radius: 10px;
    }

    .linksRecomendaciones h2{
        font-size: 1rem;
        grid-column: 1 / span 2;
    }

    .linksRecomendaciones ul{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
    }

    .linksRecomendaciones ul li{
        list-style-type: none;
        text-align: center;
    }

    .linksRecomendaciones ul li h3{
        font-size: 0.86rem;
    }

    .linksRecomendaciones ul li h3 a{
        text-decoration: none;
        color: black;
    }

    .linksRecomendaciones figure img{
        width: 100%;
    }

    aside{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .articuloAzar{
        margin-top: 1rem;
        padding: 10px;
        background-color: lightgrey;
        border: solid 3px black;
        border-radius: 10px;
    }

    #contacto article{
        margin-top: 1rem;
    }

    #contacto article form{ /*inspirado en las propiedades de articuloNuevo*/
        padding: 0px 10px;
        display: flex;                 
        flex-direction: column;       
        justify-content: space-around;      
        background-color: lightgrey;
        border: solid 3px black;
        border-radius: 10px;
        height: 75vh;                 
    }

    #contacto article form p{
        font-weight: bold;
        text-align: center;
    }
   
    #contacto article form *{
        font-size: 0.8rem;
    }

    #contacto article form label textarea{
        display: block;
        width: 100%;
        height: 175px;
    }

    #botonesFormularioContacto{ 
        text-align: center;
    }

    footer{
        margin-top: 10px;
        background-color: rgb(70, 130, 180);
        height: 7.5vh; 
    }

    footer div, footer div a, footer div a img{
        height: 100%; /*le pido a todas estas cajas dentro del footer que ocupen el 100% de la altura del footer*/
    }

    /*footer div a{
        background-color: yellow; no logro entender por qué el footer tiene un espacio abajo. Creo que este problema está relacionado con la etiqueta <a> ya que si la coloreo de otro color (como por ejemplo amarillo) observo que está ubicado en un espacio distinto al que le pido
    }*/
}

/*Formato tablet*/
/*En este formato quiero que el tamaño de los objetos en el header y las letras se agranden un poco */
@media screen and (min-width: 768px){
    .logo img{
        height: 2rem;
    }

    .titulo, .barraBuscadorMovil{
        font-size: 2rem;
    }

    nav figure img{
        height: 3rem;
    }

    h1{
        font-size: 2rem;
    }

    .articuloNuevo h2{
        font-size: 1.5rem;
    }

    .articuloNuevo h3{
        font-size: 1.25rem;
    }

    .linksRecomendaciones h2{
        font-size: 1.74rem;
    }

    .linksRecomendaciones ul li h3{
        font-size: 1.25rem;
    }

    #contacto article form *{
        font-size: 1.3rem;
    }

}

/*Formato PC*/
/*En este formato quiero la barra de buscador se reemplace por otra barra y un botón "buscar", que el nav esté visible en todo momento, que el aside se coloque a la derecha, y que los tamaños de letra vuelvan agrandarse un poco*/
@media screen and (min-width: 1200px){
    header{
        grid-template-areas:
        "arriba"
        "nav"; /*quiero que el header ahora sea de dos filas con una columna*/
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
    
    .arriba{
        width: 100vw;
    }

    .barraBuscador{
        margin-left: 10%;
        display: inline-block; /*agrego otra barra*/
        font-size: 2rem;
        width: 70% 
    }

    .barraBuscadorMovil{/*quito la barra anterior*/
        display: none;
    }

    .botonBuscador{
        display: inline-block; /*agrego el botón*/
        font-size: 2rem;
        width: 15%
    }

    nav{
        padding-top: 10px;
        width: 100%;
        font-size: 30px;
    }

    nav figure{
        display: none; /*quito el icono de la triple barra que usé para formato PC y tablet*/
    }

    nav ul{
        display: flex;
        list-style-type: none;
        justify-content: space-around;
    }

    nav ul li a{
        text-align: none;
        text-decoration: none;
        color: black;
    }

    main{
        grid-template-areas:  
        "seccionPrincipal" "aside"; /*reorganizo el main*/
        grid-template-rows: 1fr;
        grid-template-columns: 3fr 1fr;
        column-gap: 20px;
    }

    .seccionPrincipal{
        padding-right: 10px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        border-bottom: 0px dashed black;
        width: 100%;
        border-right: 2px dashed black;
    }

    .seccionPrincipal div p{
        font-size: 1.3rem;
    }
    
    .articuloNuevo h2{
        font-size: 2rem;  
    }

    .linksRecomendaciones{ /*le quito un poco de espacio los h2 de "linksRecomendaciones"*/
        grid-template-rows: 1fr 4fr;
    }

    .linksRecomendaciones h2{
        font-size: 2.33rem;
    }

    .linksRecomendaciones ul li h3{
        font-size: 1.5rem;
    }

    aside{
        justify-content: space-between;
        width: 100%;
    }

}





