*{ 
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    font-size: 16px; /*la unidad rem es relativa a esta cantidad de pixeles, que por defecto suele ser 16*/
}

/*Formato mobile*/
@media screen and (min-width: 320px){
    @keyframes cambio_color {
        0%{background-color: rgb(0, 0, 250); }
        33%{background-color: rgb(50, 50, 250); }   
        66%{background-color: rgb(100, 100, 250); }   
        100%{background-color: rgb(150, 150, 250); }  
    }

    body{
        background-color: rgb(47, 90, 124);    
        display: flex; /*el body es un contenedor compuesto por el header, main y footer*/
        flex-direction: column; /*los elementos hijos se organizarán en una sola columna*/
        animation-name: cambio_color;
        animation-iteration-count: infinite;
        animation-duration: 60s;
        animation-direction: alternate;
    } 

    header{
        padding: 7px 0px 7px 3px;
        margin-bottom: 10px;
        background-color: rgb(70, 130, 180);
        display: grid; 
        grid-template-areas:
        "arriba nav"; /*quiero que el header sea una fila con dos columnas (ahora que el header es una sola fila creo que voy a usar flex-box, pero por ahora lo dejo así)*/
        grid-template-rows: 1fr;
        grid-template-columns: 9fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .arriba{
        grid-area: arriba;
        display: flex; /*".arriba" es un contenedor compuesto por el logo y el título, y la barra de buscador*/
        justify-content: space-between;
        width: 100%;
    }

    .logo{
        display: flex;
    }

    .logo a img{
        height: 1.1rem;
        position: relative;
        top: 4px;
    }

    .logo p{
        margin-left: 5px;
        font-size: 1.1rem;
    }

    .arriba form {
        margin-right: 2px;
         width: 70%; 
    }

    .barraBuscador{
        display: none; /*quito una de las barras de buscador, ya que esta sólo será utilizada en formato PC*/
    }

    .barraBuscadorMovil{
        font-size: 1.1rem;
        width: 100%;
    }

    .botonBuscador{
        display: none; /*quito el botón ya que que sólo lo quiero usar en PC*/
    }
    
    nav{
        grid-area: nav;
    }

    nav figure img{
        position: relative;
        top: 2px; /*ajusto la altura de la imagen para que esté centrada*/
        height: 1.5rem;
    }
    
    nav ul{
        display: none; /*quito la lista que forma la barra de navegación. Voy a colocarla en la siguiente entrega con bootstrap*/
    }

    main{
        padding: 0% 1%; 
        display: grid;
        grid-template-areas:  
        "seccionPrincipal"
        "aside";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr; /*quiero que el main sea una columna con una fila (para formato PC esto va a cambiar)*/
    }

    .seccionPrincipal{
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 2px dashed black;
    }

    h1, h2, h3, h4{
        text-align: center;
    }

    .articuloNuevo{/*este estilo de diseño lo uso como modelo para diseñar cajas en todas las páginas*/
        padding: 2%;
        margin-top: 1rem;
        display: grid;
        grid-template-areas:  
        "tituloArticulo     imagen"
        "subtituloArticulo  imagen";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 2fr 1fr;
        justify-items: center;
        align-items: center;
        background-color: lightgrey;
        border: 3px solid black;
        border-radius: 10px;
    }

    .articuloNuevo h2{
        grid-area: tituloArticulo;
        font-size: 0.86rem;
    }

    .articuloNuevo h2 a{
        text-decoration: none;
        color: black;
    }

    .articuloNuevo h3{
        grid-area: subtituloArticulo;
        font-size: 0.86rem;
    }

    .articuloNuevo figure{
        grid-area: imagen;
    }
    
    .articuloNuevo figure img{
        width: 100%;
    }

    .seccionPrincipal div p{
        margin-top: 10px;
        text-align: justify;
        font-weight: bold;
    }

    .linksRecomendaciones{ /*similar a las propiedades de articuloNuevo*/
        padding: 2%;
        margin-top: 1rem;
        display: grid;
        grid-template-rows: 1fr 3fr;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        background-color: lightgrey;
        border: 3px solid black;
        border-radius: 10px;
    }

    .linksRecomendaciones h2{
        font-size: 1rem;
        grid-column: 1 / span 2;
    }

    .linksRecomendaciones ul{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
    }

    .linksRecomendaciones ul li{
        list-style-type: none;
        text-align: center;
    }

    .linksRecomendaciones ul li h3{
        font-size: 0.86rem;
    }

    .linksRecomendaciones ul li h3 a{
        text-decoration: none;
        color: black;
    }

    .linksRecomendaciones figure img{
        width: 100%;
    }

    aside{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .articuloAzar{
        margin-top: 1rem;
        padding: 10px;
        background-color: lightgrey;
        border: solid 3px black;
        border-radius: 10px;
    }

    .articuloAzar h3 a{
        color: black;
        text-decoration: none;
    }

    #contacto article{
        margin-top: 1rem;
    }

    #contacto article form{ /*inspirado en las propiedades de articuloNuevo*/
        padding: 0px 10px;
        display: flex;                 
        flex-direction: column;       
        justify-content: space-around;      
        background-color: lightgrey;
        border: solid 3px black;
        border-radius: 10px;
        height: 75vh;                 
    }

    #contacto article form p{
        font-weight: bold;
        text-align: center;
    }
   
    #contacto article form *{
        font-size: 0.8rem;
    }

    #contacto article form label textarea{
        display: block;
        width: 100%;
        height: 175px;
    }

    #botonesFormularioContacto{ 
        text-align: center;
    }

    footer{
        display: flex;
        margin-top: 10px;
        background-color: rgb(70, 130, 180);
    }

    footer div a p{
        display: none; /*quito el texto del footer para formato mobile*/
    }
}

/*Formato tablet*/
/*En este formato quiero que el tamaño de los objetos en el header y las letras se agranden un poco. También el footer cambia de forma  */
@media screen and (min-width: 768px){
    .logo a img{
        height: 2rem;
    }

    .logo p, .barraBuscadorMovil{
        font-size: 2rem;
    }

    nav figure img{
        height: 3rem;
    }

    h1{
        font-size: 2rem;
    }

    .articuloNuevo h2{
        font-size: 1.5rem;
    }

    .articuloNuevo h3{
        font-size: 1.25rem;
    }

    .linksRecomendaciones h2{
        font-size: 1.74rem;
    }

    .linksRecomendaciones ul li h3{
        font-size: 1.25rem;
    }

    #contacto article form *{
        font-size: 1.3rem;
    }

    footer{
        width: 100%;
        justify-content: space-evenly;
    }

    footer div a{
        margin: 5px 0px;
        padding: 5px;
        align-items: center;
        display: flex;
        flex-direction: column;
        border: 2px solid black;
        text-decoration: none;
        border-radius: 5px;
    }

    footer div a p{
        display: inline-block; /*el texto en el footer deja de estar oculto*/
        font-weight: bold;
        color: black;
    }
}

/*Formato PC*/
/*En este formato quiero que la barra de buscador se reemplace por otra barra y un botón "buscar", que el nav esté visible en todo momento, que el aside se coloque a la derecha, y que los tamaños de letra vuelvan agrandarse un poco*/
@media screen and (min-width: 1200px){
    header{
        grid-template-columns: 4fr 6fr;
    }

    .logo a img{
        height: 1.4rem;
    }

    .logo p{
        font-size: 1.4rem;
    }

    .arriba form{
        display: flex;
        justify-content: end;
        width: 80%; 
    }

    .barraBuscador{
        display: inline-block; /*agrego otra barra*/
        font-size: 1.4rem;
        width: 76% 
    }

    .barraBuscadorMovil{/*quito la barra anterior*/
        display: none;
    }

    .botonBuscador{
        display: inline-block; /*agrego el botón*/
        font-size: 1.4rem;
        width: 20% 
    }

    nav{
        width: 100%; 
        font-size: 1.4rem;
    }

    nav figure{
        display: none; /*quito el icono de la triple barra que usé para formato PC y tablet*/
    }

    nav ul{
        display: flex;
        list-style-type: none;
        justify-content: space-around;
    }

    nav ul li a{
        padding: 0px 2px;
        border-radius: 5px;
    }

    .seleccion{
        background-color: blue;
    }

    .hover{
        transition: all 0.5s; /*creo una clase "hover". Esta clase la voy a colocar en todas las etiquetas donde quiera que cambien de color cuando aprieto en ellas (con focus) y cuando paso el mouse sobre ellas (con :hover). Esta clase la usé en los elementos de la barra de navegación y el footer*/
    }

    .hover:hover{
        background-color: rgb(86, 86, 139); 
    }

    .hover:focus{
        background-color: aqua;
    }

    nav ul li a{
        text-align: none;
        text-decoration: none;
        color: black;
        font-size: 1.4rem;
    }

    main{
        grid-template-areas:  
        "seccionPrincipal" "aside"; /*reorganizo el main*/
        grid-template-rows: 1fr;
        grid-template-columns: 3fr 1fr;
        column-gap: 20px;
    }

    .seccionPrincipal{
        padding-right: 10px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        border-bottom: 0px dashed black;
        width: 100%;
        border-right: 2px dashed black;
    }

    .seccionPrincipal div p{
        font-size: 1.3rem;
    }
    
    .articuloNuevo h2{
        font-size: 2rem;  
    }
    
    .articuloNuevo h2:hover{
        text-decoration: underline 2px;
    }

    .articuloAzar{
        transition: all 0.5s;
    }

    .articuloAzar:hover{
        transform: scale(1.1); /*cuando paso el mouse por arriba se agranda la etiqueta con clase "articuloAzar"*/
    }

    .articuloAzar h3:hover{
        text-decoration: underline 2px;
    }

    .linksRecomendaciones{ /*le quito un poco de espacio a los h2 de "linksRecomendaciones"*/
        grid-template-rows: 1fr 4fr;
    }

    .linksRecomendaciones h2{
        font-size: 2.33rem;
    }

    .linksRecomendaciones ul li h3{
        font-size: 1.5rem;
    }

    .linksRecomendaciones ul li h3 a:hover{
        text-decoration: underline 2px;
    }

    aside{
        justify-content: space-between;
        width: 100%;
    }
}